# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.venv/
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/*
!.vscode/*.vault

# VaultTool
.vscode/launch.json
../../.vaulttool/aes-gcm.key
../../../../tmp/tmpk02f3l5n/keyfile
../../../../tmp/tmpk02f3l5n/secret.env
../../../../tmp/tmpd2h5ip1n/keyfile
../../../../tmp/tmpd2h5ip1n/secret.env
../../../../tmp/tmp5t5npl63/keyfile
../../../../tmp/tmp5t5npl63/secret.env
../../../../tmp/tmp7q2hl4hq/keyfile
../../../../tmp/tmp7q2hl4hq/secret.env
../../../../tmp/tmpgltrmvy7/keyfile
../../../../tmp/tmpgltrmvy7/secret.env
../../../../tmp/tmp0lzt56kw/keyfile
../../../../tmp/tmp0lzt56kw/secret.env
../../../../tmp/tmps1lpelpc/keyfile
../../../../tmp/tmpt128myj4/keyfile
../../../../tmp/tmpjzzxfzsa/keyfile
../../../../tmp/tmpjzzxfzsa/secret.env
../../../../tmp/tmp39qxhhyy/keyfile
../../../../tmp/tmp39qxhhyy/secret.env
../../../../tmp/tmpeh63ou_s/keyfile
../../../../tmp/tmpeh63ou_s/secret.env
../../../../tmp/tmpglqtrwgu/keyfile
../../../../tmp/tmpglqtrwgu/secret.env
